{
  "env": {
      "es6": true,
      "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    // Code's accessibility matters
    "indent": [ "error", "tab" ],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "max-len": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "padded-blocks": "off"
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": true,
        "spy": true
      },
      "rules": {
        "no-unused-expressions": "off",
      }
    }
  ]
}
