{
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    // Code's accessibility matters
    "indent": ["error", "tab"],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "max-len": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "padded-blocks": "off",
    "no-restricted-syntax": "off",
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "globals": {
        "expect": true,
        "spy": true,
      },
      "rules": {
        "no-unused-expressions": "off",
      },
    },
  ],
}
